
<div class="row nav-buttons justify-content-center align-items-center pt-4" style="flex-direction: column;">
  <div class="nav-button justify-content-center align-items-center">
    <i class="fas fa-info-circle"></i>
    <span>About</span>
    <a href="#about" class="nav-button-link"></a>
  </div>
  <div class="nav-button justify-content-center align-items-center">
    <i class="fas fa-laptop-code"></i>
    <span>Projects</span>
    <a href="#projects" class="nav-button-link"></a>
  </div>
  <div class="nav-button justify-content-center align-items-center">
    <i class="fas fa-envelope"></i>
    <span>Contact</span>
    <a href="#contact" class="nav-button-link"></a>
  </div>
