<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 header-container">
      <h1>Renato Delboni</h1>
      <p>Front-End Developer | Software Engineer</p>
      <%= image_tag 'renato_profile.png', class:'img-circle'%>
      <%= partial 'partials/tags' %>
    </div>
  </div>
</div>
